{% extends 'base.html'%}



{% block title %}
    Allie's {{post.category}} blog - {{post.pk}}
{% endblock %}



{% block content %}

<h1>{{post.title}}</h1>

<div class="d-flex justify-content-between align-items-center">

    <small>
        <span style="color: gray;">
            By {{ post.author.first_name }} {{ post.author.last_name }} || ( {{ post.post_date }} )
        </span> 
    </small>

    <!-- Buttons placed on the right side of the screen -->
    <div class="d-flex align-items-center">
        {% if post.author.username == user.username or user.is_staff %}
            <!-- Edit Button -->
            {% if post.category == 'study' %}
                <a href="{% url 'study_update_post' post.pk %}?source=study" class="btn btn-sm me-2" 
                    style="color: rgb(25 135 84); border: solid 1px gray;">EDIT</a>
            {% elif post.category == 'daily' %}
                <a href="{% url 'daily_update_post' post.pk %}?source=daily" class="btn btn-sm me-2"
                    style="color: rgb(25 135 84); border: solid 1px gray;">EDIT</a>
            {% endif %}
        
            <form action="{% url 'delete_post' post.pk %}" method="post" style="display: inline;" onsubmit="return confirmDelete();">
                {% csrf_token %}
                <input type="hidden" name="source" value="daily">
                <button type="submit" class="btn btn-outline-primary border-info text-primary btn-sm">DELETE</button>
            </form>
        {% endif %}
    </div>
</div>

<hr>
<br/>
{{post.body|safe}}
<br/>
<br/>

<!-- Create 'Back to home page' button -->
<hr>
<a href="{% url 'daily-blog' %}" class="btn btn-secondary"> Back</a>

{% endblock %}