{% extends 'base.html' %}

{% block title %}
    Allie's Study Blog
{% endblock %}

{% block content %}

<h1 class="text-center">My Study Blog</h1>
<hr>

{% if object_list %}
    {% csrf_token %}
    <input type="hidden" name="source" value="study">

    {% if user.is_authenticated %}
        <div class="btn-group float-end" role="group" aria-label="Basic outlined example">
            <button type="button" class="btn btn-outline-primary border-danger text-success" id="post-button">POST</button>
        </div>
    {% endif %}

    <br/><br/>

    <ul style="list-style-type: none; padding-left: 0;">
        {% for post in object_list %}
            {% if post.category == 'study' %}
                <li>
                    <label for="post-{{ post.pk }}">
                        <a href="{% url 'studyblog-article-detail' post.pk %}" style="margin-right: 80px;">
                            {{ post.title }}
                        </a>
                        By {{ post.author.first_name }} {{ post.author.last_name }} || ( {{ post.post_date }} )
                    </label>

                    <!-- If the logged-in user is the post's author, show the DELETE button -->
                    {% if post.author.username == user.username or user.is_staff  %}
                        <form action="{% url 'delete_post' post.pk %}" method="post" style="display: inline;" onsubmit="return confirmDelete();">
                            {% csrf_token %}
                            <input type="hidden" name="source" value="study">
                            <button type="submit" class="btn btn-sm text-primary">DELETE</button>
                        </form>
                    {% endif %}
                    
                </li>
                <br/>  <!-- Blank line between posts -->
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>No posts available. <a href="{% url 'add_post' %}?source=study">Add a new post</a></p>
{% endif %}

<script>
    document.getElementById('post-button').addEventListener('click', function() {
        window.location.href = "{% url 'add_post' %}?source=study";
    });

    function confirmDelete() {
        return confirm('Are you sure you want to delete this post?');
    }
</script>

{% endblock %}
